<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/app.css" />

    <title value="Home">Home</title>
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" width="710">
    <thead>
    <tr height="30" bgcolor="#EDEDED" align="center">
        <td align="center" width="40">번호</td>
        <td> 제목 </td>
        <td width="80">글쓴이</td>
        <td width="60">등록일</td>
        <td width="60">조회</td>
    </tr>
    </thead>
    <!-- 주석처리된 부분을 채우시오. html구조는 건드리지 마시오. -->
    <tbody class="post container">

    <!-- div태그완성  post값을 전달받을수 있도록  -->
    <div     class="ps" >
        <tr>
            <td class="bbsNo" align="center">
                <!--p태그완성 게시물번호 "id"가 나타나도록하시오. -->
                <p   ></p>
            </td>
            <td class="bbsSubject" align="center">
                <!--a태그완성 게시물의 제목클릭시 "/postview/{id}" 주소로 이동하도록 하시오 -->
                <a  >
                    <!--p태그완성 게시물제목 "subject"가 나타나도록 하시오. -->
                    <p   ></p>
                </a>
            </td>
            <td class="bbsNick" align="center">
                <!--p태그완성   게시물글쓴이 "nick"이 나타나도록 하시오. -->
                <p   ></p>
            </td>
            <td class="date" align="center">
                <!--p태그완성   게시물등록일 "date"가 나타나도록 하시오. -->
                <p   ></p>
            </td>
            <td class="hit" align="center">
                <!--p태그완성 게시물 조회수 "hit"가 나타나도록 하시오. -->
                <p   ></p>
            </td>
        </tr>
    </div>
    </tbody>
</table>
<table class="writeBtn" cellpadding="0" cellspacing="0" border="0" width="710">
    <tr>
        <td align="right">
            <!--a태그완성   "글쓰기"버튼 클릭시 "/write"주소로 이동하도록하시오. -->
            <a   >
                <input type="button" value="글쓰기"/>
            </a>
        </td>
    </tr>
</table>
</body>
</html>