<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html" />

    <link rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/app.css" />

    <title>수정</title>
</head>
<!-- 주석처리된 부분을 채우시오. html구조는 건드리지 마시오. -->
<body>
<!-- form태그 수정 값을 전달하기위해 "/modify/{id}" 주소에서 method의 속성값을 지정해주세요. -->
<form     >
    <tr>
        <div class="nick_container">
            <!-- 닉네임을 저장하기위해서 "nick"을 입력하도록 만드시오. 입력하기전 그전에 입력했던 값이 들어가있도록 만드시오. -->
        </div>

    </tr>
    <tr>
        <div class="subject_container">
            <!-- 제목을 저장하기위해서 "subject"를 입력하도록 만드시오. 입력하기전 그전에 입력했던 값이 들어가있도록 만드시오. -->
        </div>
    </tr>
    <tr>
        <div class="content_container">
            <!-- 내용을 저장하기위해서 "content"를 입력하도록 만드시오. 입력하기전 그전에 입력했던 값이 들어가있도록 만드시오. -->
        </div>
    </tr>

    <tr>
        <td align="left">
            <!-- a태그완성   "뒤로" 버튼을 클릭하면 "/postview/{id}" 주소로 이동하도록 만드시오. -->
            <a    >
                <input type="button" value="뒤로" class="back"/>
            </a>
        </td>
        <td>
            <a>
                <!--  input태그   "수정"버튼 완성 -->
                <input    value="수정" class="com_modify" />
                <!--  데이터가 가지고 있던 "id"값을 넘겨주도록 만드시오  -->
                <!--  데이터가 가지고 있던 "date"값을 넘겨주도록 만드시오  -->
                <!--  데이터가 가지고 있던 "hit"값을 넘겨주도록 만드시오  -->
            </a>
        </td>
    </tr>
</form>
</body>
</html>