<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html" />

    <link rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/app.css" />

    <title>글쓰기</title>
</head>
<!-- 주석처리된 부분을 채우시오. html구조는 건드리지 마시오. -->
<body>
<!-- form태그완성  값을 전달하기위해 "/write"주소에서 method의 속성값을 지정해주세요. -->
<form  >
    <tr>
        <div class="nick container">
            <!-- 닉네임을 저장하기위해서 "nick"을 입력하도록 만드시오.  -->
        </div>
    </tr>
    <tr>
        <div class="subject container">
            <!-- 제목을 저장하기위해서 "subject"를 입력하도록 만드시오. -->
        </div>
    </tr>
    <tr>
        <div class="content container">
            <!-- 내용을 저장하기위해서 "content"를 입력하도록 만드시오. -->
        </div>
    </tr>

    <tr>
        <!-- a태그완성  "뒤로" 버튼을 클릭하면 "/" 주소로 이동하도록 만드시오. -->
        <a  >
            <input type="button" value="뒤로" class="back"/>
        </a>
        <a>
            <!--input태그완성   "작성"버튼 완성 -->
            <input   value="작성" class="submit"/>
        </a>
    </tr>
</form>
</body>
</html>